body {
  display: grid;
  height: 100vh;
  /* grid-template-columns: 'nav nav nav' 'main main main' 'footer footer footer'; */
  grid-template: 20vh 70vh 10vh / repeat(3, 33.33%);
  grid-template-areas: '. nav .' 'aside main .' 'footer footer footer';
  background: #adcade;
  /* background-image: url("https://images7.alphacoders.com/662/662102.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

#blazikenButton {
  background-color: #FEB753;
  animation: bounceInUp 3s;
  box-shadow: 2px 4px orange;
}

#mewtwoButton {
  background-color: thistle;
  animation: bounceInUp2 3s;
  box-shadow: 2px 4px purple;
}

#pikachuButton {
  background-color: #FBF06F;
  animation: bounceInUp3 3s;
  box-shadow: 2px 4px burlywood;
}

#refresh {
  border-radius: 50%;
  background-color: #39CCCC;
  border-style: none;
}

@keyframes logoAppear {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes bounceInUp {
   0% {
      opacity: 0;
      transform: translateY(2000px);
   } 60% {
      opacity: 1;
      transform: translateY(0px);
   } 80% {
      transform: translateY(20px);
   } 100% {
      transform: translateY(0);
   }
}
@keyframes bounceInUp2 {
   0% {
      opacity: 0;
      transform: translateY(1000px);
   } 60% {
      opacity: 1;
      transform: translateY(0px);
   } 80% {
      transform: translateY(10px);
   } 100% {
      transform: translateY(0);
   }
}
@keyframes bounceInUp3 {
   0% {
      opacity: 0;
      transform: translateY(1500px);
   } 60% {
      opacity: 1;
      transform: translateY(-60px);
   } 80% {
      transform: translateY(15px);
   } 100% {
      transform: translateY(0);
   }
}

#header {
  grid-area: nav;
}

#header img {
  width: 96.7%;
  height: auto;
  padding-top: 25px;
  animation: logoAppear 10s;
}

.icons {
  border-radius: 50%;
  background-color: cornflowerblue;
  width: 25vh;
  height: 25vh;
  border-style: none;
  margin-right: 60px;
  padding-top: 25px;
}

#mid {
  padding-top: 55px;
  padding-right: 30px;
  grid-area: main;
  display: flex;
  /* z-index: -1; */
}

#side {
  grid-area: aside;
  grid-template: 30vh 70vh / 100vw;
  grid-template-areas: 'h1 h1' 'div div';
}

#bottom {
  grid-area: footer;
  /* background-color: #B0E7FF; */
  text-align: center;
  padding-top: 18px;
}

aside h1 {
  text-transform: uppercase;
  color: #ffee90;
  text-align: center;
}

aside h2 {
  background-color: blue;
}

main img{
  object-fit: scale-down;
}

main button img {
  padding: 0;
  margin: 0;
  width: 100px;
  height: 100px;
}

footer a {
  text-decoration: none;
  color: black;
}

/* input[type="checkbox"] {
	display: none;
}
.lbl-toggle {
	display: block;
	font-weight: bold;
	font-family: Optima, sans-serif;
	font-size: .7rem;
	text-transform: uppercase;
	text-align: center;
	padding: 1rem;
	cursor: pointer;
	color: blue;
	background: #ffee90;
	/* border-radius: 7px;
	transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
	color: red;
}

.collapsible-content {
	max-height: 0px;
	overflow: hidden;
	transition: max-height .25s ease;
}

.collapsible-content .content-inner {
	 background: #ffee90;
	 border-bottom: 1px solid lightblue;
   border-bottom-left-radius: 12px;
	 border-bottom-right-radius: 12px;
	 padding: .5rem 1rem;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
	max-height: 350px;
} */
