#mewtwoBody {
  grid-template: 20vh 70vh 10vh / repeat(3, 33.33%);
  grid-template-areas:  'header header header' 'main main .' 'footer footer footer';
  background-color: lavender;
}

#blazikenBody {
  grid-template: 20vh 70vh 10vh / repeat(3, 33.33%);
  grid-template-areas:  'header header header' 'main main .' 'footer footer footer';
  background-color: #fecc9a;
}

#pikachuBody {
  grid-template: 20vh 70vh 10vh / repeat(3, 33.33%);
  grid-template-areas:  'header header header' 'main main .' 'footer footer footer';
  background-color: lightyellow;
}

/* .page {
  background-color: var(--white);
  width: 50vh;
  height: 100vh;
} */

#blaziken {
  text-transform: uppercase;
  color: coral;
  float: right;
  font-size: 100px;
}

#mewtwo {
  padding-right: 10px;
  text-transform: uppercase;
  color: thistle;
  float: right;
  font-size: 100px;
  animation: slideUp 10s;

}

#pikachu {
  text-transform: uppercase;
  color: #feee9a;
  float: right;
  font-size: 100px;
}

.pokemon {
  animation: slide-left 10s;
  max-width: 50%;
  max-height: 50%;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
  } to {
    margin-left: 0%;
  }
}

@keyframes slideUp {
  from {
    margin-bottom: 100%;
  } to {
    margin-bottom: 0%;
  }
}

header img {
  padding-left: 30px;
  padding-right: 30px;
}

#mewtwoStats {
  text-transform: uppercase;
  color: mediumPurple;
}

#blazikenStats {
  text-transform: uppercase;
  color: coral;
}

#pikachuStats {
  text-transform: uppercase;
  color: #feee9a;
}
